.Rproj.user
.Rhistory
.RData
.Ruserdata
./rawdata/breseq_try2
./rawdata/breseq_try3
./rawdata/phage_alignments
/Users/jvanleuven/MyDrive/projects/bees/Resistant_host_project_emma/RProj_resistance/rawdata/breseq_try2
/Users/jvanleuven/MyDrive/projects/bees/Resistant_host_project_emma/RProj_resistance/rawdata/breseq_try3
/Users/jvanleuven/MyDrive/projects/bees/Resistant_host_project_emma/RProj_resistance/rawdata/phage_alignments
